<div class="main">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">訂單信息 「 Order Information 」</h1>
    <p class="lead">下面是訂單信息，輸入支付信息點擊確認訂單進行購買</p>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-10 col-sm-12"></div>
  <div class="col-lg-2 col-sm-12">
    <!--
    These div elements are the placeholder elements that are replaced by the
    SqPaymentForm's iframes.
  -->
  <label>Card Number</label>
  <div id="sq-card-number"></div>
  <label>CVV</label>
  <div id="sq-cvv"></div>
  <label>Expiration Date</label>
  <div id="sq-expiration-date"></div>
  <label>Postal Code</label>
  <div id="sq-postal-code"></div>


  <!--
    After the SqPaymentForm generates a card nonce, *this* form POSTs the generated
    card nonce to your application's server.

    You should replace the action attribute of the form with the path of
    the URL you want to POST the nonce to (for example, "/process-card")
  -->
  <form id="nonce-form" novalidate action="REPLACE_ME" method="post">

    <!--
      Whenever a nonce is generated, it's assigned as the value of this hidden
      input field.
    -->
    <input type="hidden" id="card-nonce" name="nonce">

    <!--
      Clicking this Submit button kicks off the process to generate a card nonce
      from the buyer's card information.
    -->
    <button type="submit" class="btn btn-confirm" (click)="requestCardNonce(event)">確認訂單</button>
  </form>
  </div>
</div>


<div>
</div>