.jumbotron {
  background: url('image/bgb.jpg') no-repeat center center;
  background-size: 100% auto;
  color: #fff;
}

#contactInfo > ul > li {
  margin: 1em;
}

.image-qr > img{
  width: 100%;
  height: auto;
}

.alert {
	margin-top: 1em;
}


@media(max-width:767px){
  #contactInfo {
    margin-top: 3em;
  }
  .display-3 {
    font-size: 2em;
  }

  .lead {
    font-size: 1em;
  }

}

