<div class="main">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">聯繫我們</h1>
    <p class="lead">您可以通過填寫下面的表格，或者使用任意的聯繫方式聯繫我們</p>
  </div>
</div>

<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md col-sm-12">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">您的名字</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="msg.senderName" name="name" placeholder="Enter your name" (input)="clearMessage()" required>
          </div>
          <div class="form-group">
            <label for="email">電子郵箱地址</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="msg.senderEmail" name="email" placeholder="Enter email" (input)="clearMessage()" required>
            <small id="emailHelp" class="form-text text-muted">我們保證不洩露您的電子郵箱地址給任何人</small>
          </div>
          <div class="form-group">
            <label for="tel">電話號碼</label>
            <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="msg.senderTel" name="tel" placeholder="Enter telephone number" (input)="clearMessage()">
            <small class="form-text text-muted">我們保證不洩露您的電話號碼給任何人</small>
          </div>
          <div class="form-group">
            <label for="content">我們有什麼可以幫助您的嗎？請在下面告訴我們。</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="msg.content" name="content" (input)="clearMessage()" required></textarea>
          </div>
              <button type="submit" class="btn btn-confirm">提交</button>
        </form>
    <div *ngIf="message" class="alert alert-info">
     {{ message }}
   </div>
      </div>
      <div id="contactInfo" class="col-md col-sm-12">
        <ul>
        <li>
          <span class="row">
          <span class="col-md col">
            <span class="image-qr"><img src="image/QR_MadamHuang3.png" alt="QR_Code"></span>
            </span>
            <span class="col-md col">
            <p>掃一掃邊上的二維碼了解更多的美麗產品信息. 如果您想獲得其他更多的信息，也可以通過下面的聯繫方式聯繫我們哦！</p>
            </span>
          </span>
          </li>
          <li><i class="fa fa-map-marker"></i> 地址: 1500 District Ave #2089</li>
          <li><i class="fa fa-phone"></i> 電話: +1(781)270-1510</li>
          <li><i class="fa fa-envelope"></i> Email: nutritionconsultant1119@gmail.com</li>
          <li><i class="fa fa-globe"></i> 網站: www.madamhuang.jeunesseglobal.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>