section {
    padding-top : 3em;
    padding-bottom : 3em;
}

section .title-center{
  text-align: center;
  margin-bottom: 2em;
}

section .title-left {
  margin-bottom: 2em;
}

section .description-center{
  margin-top: 1em;
  text-align: center;
}

#beauty{
  background-color: #fff;
  min-height: 10em;
}
#duty {
  background-color: #F6F6F6;
}
#contact {
  background-color: #F6F6F6;
}

.badge {
    position: relative;
    display: inline-block;
}

.badge-box {
    position: absolute;    
    height: 110%;
    text-align: center;    
    width: 90%;
}
.badge-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}


.badge >  img{
  display: block;
  max-width: 10em;
  height: auto;
}

.carousel-inner {
    height: 40em;
}

.carousel-item > img {
    width: 100%;
    height: 100%;
}

.carousel-caption-custom {
  top:20%;
}

.carousel-caption-custom > h1 {
  margin-bottom: 0.5em;
  font-size: 3rem;
}
.carousel-caption-custom > h2 {
  margin-bottom: 1.5em;
  font-size: 2rem;
}

.carousel-caption-custom > p {
  font-size: 1.5rem;
}

.image-qr > img{
  width: 100%;
  height: auto;
}

.alert {
  margin-top: 1em;
}

#contactInfo > ul > li {
  margin: 1em;
}


@media(max-width:1024px){
  .carousel-inner {
    height: 35em;
}
}

@media(max-width:860px){
  .carousel-inner {
    height: 30em;
}
}


@media(max-width:768px){
  #contactInfo {
    margin-top: 3em;
  }

  .carousel-inner {
    height: 25em;
  }

}
