<div class="main">
<div class="container">
<div class="page-header"><h2>Home</h2></div>

<div class="panel panel-default">

  <div class="panel-heading"><h4>Customer Information</h4></div>
  <div class="panel-body">
    <p>Select 'Customers' from the menu to list or add a new customer. </p>
  </div>

  <div class="panel-heading"><h4>Invoice Information</h4></div>
  <div class="panel-body">
    <p>
      Select 'Invoices' from the menu to list all existing invoices.
    </p>
    <p>
      To create a new invoice, please start with an existing customer.
    </p>
  </div>

  <div class="panel-heading"><h4>User Information</h4></div>
  <div class="panel-body">
    <p>Select 'Customers' from the menu</p>
  </div>

</div>

</div>
</div>