<nav class="navbar fixed-top navbar-toggleable-sm navbar-light navbar-custom" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink=""><img src="image/mhbrand.png"/></a>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navContent">
    <ul id="leftNav" class="nav navbar-nav mr-auto">


      <li class="nav-item"><a class="nav-link" routerLink=""> 主頁 </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about"> 關於我們 </a></li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="/classroom"> 美麗課堂 </a>
        <!--
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"> 美麗課堂 <span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item dropdown-item-custom" routerLink="/classroom/taste">審美課堂</a>
          <a class="dropdown-item dropdown-item-custom" routerLink="/classroom/insight">心美課堂</a>
          <a class="dropdown-item dropdown-item-custom" routerLink="/classroom/figure">體美課堂</a>
          <a class="dropdown-item dropdown-item-custom" routerLink="/classroom/skin">膚美課堂</a>
        </div>
        -->
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="/activity"> 美麗聚會 </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/product"> 美麗產品 </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contact"> 聯繫我們 </a></li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"> 會員 <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-out" role="menu" *ngIf="!user">
          <a class="dropdown-item dropdown-item-custom" routerLink="/login">登錄</a>
          <a class="dropdown-item dropdown-item-custom" routerLink="/signup">註冊</a>
        </div>
        <div class="dropdown-menu dropdown-menu-in" role="menu" *ngIf="user">
         <div class="card">
          <div class="card-block">
            <h4 class="card-title">您好{{ user.username }}！</h4>
            <p class="card-text">
             歡迎登陸黃夫人俱樂部
           </p>
         </div>
      </div>
          <a routerLink="/profile" class="dropdown-item dropdown-item-custom">我的信息</a>
          <a *ngIf="user && user.isAdmin == true" routerLink="/admin" class="dropdown-item dropdown-item-custom">網站管理</a>
         <a (click)="signout($event)" class="dropdown-item dropdown-item-custom">登出</a>
    </div>
  </li>
    </ul>


</div><!-- /.navbar-collapse -->
</nav>
