<div class="main">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">關於我們</h1>
    <p class="lead">我們在黃夫人課堂學習美麗，在黃夫人俱樂部實踐美麗</p>
  </div>
</div>
<div class="container">
  <p>黃夫人俱樂部的建立，是為了致力於把品質的美麗分享給所有愛美的女性。我們重新定義了「 優質的美麗 」，對比快餐化的美麗，我們多層次定義了美麗。</p>
  <p>所謂「 優質的美麗 」，是指有品質的美麗狀態，是從審美，著裝，健康飲食，皮膚護理，健康心理和談吐表現等方面，多層次地綻放「 自信 」和「 自然 」的美麗。</p>
  <p>在黃夫人俱樂部，您可以看到我們為您精心挑選的美麗知識，這些知識囊括了「 品質美麗 」的各個方面，主要分為審美課堂，心美課堂，體美課堂和膚美課堂。通過這些文章，您會進一步了解「 多層次的美麗 」，并從此展開您的美麗之旅。</p>
  <p>我們將會定期舉辦<a routerLink="/activity">「 美麗聚會 」</a>這樣的線下俱樂部活動，讓所有愛美的夥伴們相聚一堂，學習并交流美麗的感受。<a routerLink="/activity">「 美麗聚會 」</a>會圍繞一定的主題展開，她們會關於音樂，文學，居家設計，營養搭配，和皮膚保養等。您可以輕鬆選擇到自己喜歡的主題并參與進來，和我們走進多層次的美麗。</p>
  <p>黃夫人精心為您挑選了<a routerLink="/product">「 美麗產品 」</a>，您可以根據您的情況，選擇自己需要的<a routerLink="/product">「 美麗產品 」</a>，為自己的美麗助力！</p>
  <p>我的美麗夥伴們，與黃夫人一起揚起風帆，展開我們光彩奪目的美麗之旅吧！</p>
</div>
</div>