<my-menu></my-menu>
<div class="container">
  <div class="page-header"><h2>About</h2></div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">This software is developed by Boston Software Group.</div>
    <div class="panel-body">
    <a href="http://www.bostonsoftwaregroup.org" target="_blank">
      <img src="image/bostonsoftwaregroup.png" width=200 ALT="Boston Software Group"/>
    </a>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Version: 1.0.0</li>
      <li class="list-group-item">Initial Release Date: 12.01.2016</li>
      <li class="list-group-item">Latest Release Date: 01.01.2017</li>
      <li class="list-group-item">Contributor: Julian Zhu (OSC Technologies) Jiang Wei (Steven)</li>
      <li class="list-group-item">JWT: <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre></li>
    </ul>
  </div>

</div>
