<div class="main">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">關於我們 「 About Us 」</h1>
    <p class="lead">我們在黃夫人課堂學習美麗，在黃夫人俱樂部實踐美麗</p>
  </div>
</div>
<div class="container">
  <p>黃夫人俱樂部是一個 " 分享美麗人生 " 的網路平台，致力於推廣閱讀，生活和聚會方式所帶來的美麗人生的力量 。美和善的生活是需要傳播才會有價值; 將美和善的知識分享給更多的人 ，是黃夫人俱樂部存在的目的。</p>
  <p>所謂「 優質的美麗 」，是指有品質的美麗狀態，是從審美，著裝，健康飲食，皮膚護理，健康心理和談吐表現等方面，多層次地綻放「 自信 」和「 自然 」的美麗。</p>
  <p>在黃夫人俱樂部，您可以看到我們為您精心挑選的美麗知識，這些知識囊括了「 品質美麗 」的各個方面，主要分為審美課堂，心美課堂，體美課堂和膚美課堂。通過這些文章，您會進一步了解「 多層次的美麗 」，并從此展開您的美麗之旅。</p>
  <p>我們將會定期舉辦<a routerLink="/activity">「 美麗聚會 」</a>這樣的線下俱樂部活動，讓所有愛美的夥伴們相聚一堂，學習并交流美麗的感受。<a routerLink="/activity">「 美麗聚會 」</a>會圍繞一定的主題展開，我們會關注於音樂，文學，居家設計，營養搭配，和皮膚保養等。您可以輕鬆選擇到自己喜歡的主題并參與，與我們走進多層次的美麗。
</p>
  <p>黃夫人精心為您挑選了<a routerLink="/product">「 美麗產品 」</a>，您可以根據您的情況，選擇自己需要的<a routerLink="/product">「 美麗產品 」</a>，為自己的美麗助力 ，達到美麗人生成功的夢想！
</p>
  <p>親愛的的美麗夥伴們，請與黃夫人一起揚起風帆，展開我們光彩奪目的美麗人生成功之旅吧！</p>
  <p class="engFont">Madam Huang Club is a platform of "sharing beautiful life", dedicating to promote reading, life, and parties, to share the power of beautiful life. Life with beauty and compassion is valuable only if we take effort to spread it. The meaning of the existence of the Madam Huang club is to share beauty and compassion to more people.
</p>
<p class="engFont">The so-called "quality of beauty" refers to the beauty of quality, from the aesthetics, dress, healthy diet, skin care, health psychology and conversation performance, multi-level bloom "self-confidence" and "natural" beauty.</p>
<p class="engFont">At Madam Huang Club, you could learn our selected beauty knowledge, which includes all aspects of "beauty of quality", consisting of aesthetics classroom, beauty of mind classroom, beauty of figure classroom and beauty of skin classroom. Through these articles, you will learn more about "multi-level beauty" and start your beautiful journey from here.
</p>
<p class="engFont">We will hold <a routerLink="/activity">"beautiful parties"</a> regularly, so that all the beauty lovers could gather together, learning and sharing beautiful feelings. <a routerLink="/activity">"Beautiful parties"</a> will focus on a certain theme, we will focus on music, literature, home design, nutrition, and skin care. You could easily choose to your favorite theme then participate, and walk into the multi-level beauty with us.
</p>
<p class="engFont">
Madam Huang carefully selected <a routerLink="/product">"beautiful products"</a> for you, thus you could choose <a routerLink="/product">"beautiful products"</a> according to your situation, to boost your beautiful quality, then achieve the dream of beautiful life!</p>
<p class="engFont">
Dear beauty friends, please raise the sail with Madam Huang, start our glorious trip of beautiful life!</p>
</div>
</div>