<div class="main">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">美麗課堂 「 Beauty Classroom 」</h1>
			<p class="lead">與黃夫人分享美麗知識</p>
		</div>
	</div>
	<div class="container" *ngIf="items">
		<div class="card-columns card-custom">
			<div class="card" *ngFor="let item of items">
			<img *ngIf="item.imageLink" class="card-img-top img-fluid" [src]="defaultImage" [lazyLoad]="item.imageLink" alt="Image">
				<div class="card-block">
					<h4 class="card-title">{{item.title}}</h4>
					<p class="card-text">{{item.description}}</p>
					<button *ngIf="item.articleId" class="btn btn-sm btn-confirm" (click)="openArticle(item)">Learn More</button>
					<p class="card-text" *ngIf="item.updatedDate"><small class="text-muted">更新日期：{{item.updatedDate | date:"MM/dd/yy"}}</small></p>
				</div>
			</div>
		</div>
		<span [hidden]="totalPage <= 1">
			<button (click)="getClassroonItems(curPage-1)" class="btn btn-confirm">上一頁</button>
			<button (click)="getClassroonItems(curPage+1)" class="btn btn-confirm">下一頁</button> 當前頁數: {{curPage+1}} | 頁數: {{totalPage}}
		</span>
	</div>
</div>