.jumbotron {
  background: url('image/bga.jpg') no-repeat center center;
  background-size: 100% auto;
  color: #fff;
}

.card-columns {
	column-count: 3;
}

.card-custom .card{
	margin-top: 1em;
}

@media (max-width:768px) {
	.card-columns {
		column-count: 1;
	}
}