<my-menu></my-menu>

<div class="container">
  <div class="page-header"><h2>Customer Detail</h2></div>
  <div *ngIf="message" class="alert alert-warning">
    {{ message }}
  </div>

<div *ngIf="object">
  <div class="panel panel-default">
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>id</td>
      <td>{{object.id}}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{object.firstName}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{object.lastName}}</td>
    </tr>
    <tr>
      <td>Company</td>
      <td>{{object.company}}</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>{{object.birthday}}</td>
    </tr>
    <tr>
      <th colspan="2">Contact Information</th>
    </tr>
    <tr>
      <td>Primary Phone</td>
      <td>{{object.phone1}}</td>
    </tr>
    <tr>
      <td>Secondary Phone</td>
      <td>{{object.phone2}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{object.email}}</td>
    </tr>
    <tr>
      <td>Address Line 1</td>
      <td>{{object.addrLine1}}</td>
    </tr>
    <tr>
      <td>Address Line 2</td>
      <td>{{object.addrLine2}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{object.addrCity}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{object.addrState}}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{object.addrCountry}}</td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td>{{object.addrZip}}</td>
    </tr>
    <tr>
      <th colspan="2">Passport Information</th>
    </tr>
    <tr>
      <td>Passport Number</td>
      <td>{{object.pNum}}</td>
    </tr>
    <tr>
      <td>Passport Issue Country</td>
      <td>{{object.pIssueCountry}}</td>
    </tr>
    <tr>
      <td>Passport Resident Country</td>
      <td>{{object.pResidentCountry}}</td>
    </tr>
    <tr>
      <td>Passport Issued Date</td>
      <td>{{object.pIssueDate}}</td>
    </tr>
    <tr>
      <td>Passport Expired Date</td>
      <td>{{object.pExpDate}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{object.description}}</td>
    </tr>
  </table>
</div>

<button (click)="edit()" class="btn btn-success btn-md"><span class="glyphicon glyphicon-pencile" aria-hidden=true></span> Edit</button>
<button (click)="goBack()" class="btn btn-warning btn-md"><span class="glyphicon glyphicon-transfer" aria-hidden=true></span> Back</button>

</div>

</div>
