<div class="main">
<div class="container">
<div *ngIf="user" class="changePassword">
   <h2 align="center">修改密碼</h2>
   <form>
   <div class="form-group">
     <label for="oldPassword">舊密碼</label>
     <input type="password" class="form-control" [(ngModel)]="passwordHelper.oldPassword" name="oldPassword" placeholder="Old Password" required 
     (input)="clearMessage()"/>
   </div>
   <div class="form-group">
     <label for="newPassword">新密碼</label>
     <input type="password" class="form-control" [(ngModel)]="passwordHelper.newPassword" name="newPassword" placeholder="New Password" required
     (input)="clearMessage()"/>
   </div>
      <div class="form-group">
     <label for="confirmPassword">確認新密碼</label>
     <input type="password" class="form-control" [(ngModel)]="passwordHelper.confirmPassword" name="confirmPassword" placeholder="Confirm Pasword" required
     (input)="clearMessage()"/>
   </div>
   <div *ngIf="message" class="alert alert-danger">
     {{ message }}
   </div>
   <button type="submit" class="btn btn-confirm btn-md btn-block" (click)="onSubmit()">Submit</button>
   <button type="submit" class="btn btn-cancel btn-md btn-block" (click)="onCancel()">Cancel</button>
   </form>
</div>
</div>
</div>