.jumbotron {
  background: url('image/bgb.jpg') no-repeat center center;
  background-size: 100% auto;
  color: #fff;
}

.card-columns {
	column-count: 1;
}

.card-profile > img{
	width: 100%;
	height: auto;
}
.card-entry{
	width: 100%
}
.btn-row  {
	margin-right: 1em;
}

/*
.tooltip.top .tooltip-inner{
	background: rgb(138,0,35) !important;
}

.tooltip.right .tooltip-arrow{
	background: rgb(138,0,35) !important;;
}

.tooltip.top .tooltip-inner: hover{
	background: rgb(138,0,35) !important;;
}

.tooltip.right .tooltip-arrow: hover{
	background: rgb(138,0,35) !important;;
}
*/

#memberStar img{
	width: 0.6em;
	height: auto;
	vertical-align: initial;
}

@media (max-width: 767px){
	.card {
		margin-top: 1em;
	}
		.display-3 {
		font-size: 2em;
	}

	.lead {
		font-size: 1em;
	}
}