<div class="main" *ngIf="user">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">{{user.username}}</h1>
			<p class="lead">請更改您的信息</p>
		</div>
	</div>
	<div class="container">
		<form>
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<div class="card card-profile">
					<img class="card-img-top img-fluid" src="{{updatedUser.imageLink}}" alt="Image" data-toggle="modal" data-target="#imageModal">
						<!-- Modal -->
						<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModal" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">請選擇您喜歡的頭像</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body card-columns card-columns-custom">
										<div class="card" *ngFor="let imageLink of headImages">
										<button class="card-image-button">
											<img class="card-img-top img-fluid" [src]="defaultImage" [lazyLoad]="imageLink" (click)="selectImage(imageLink)" alt="Image">
										</button>
										
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-confirm" data-dismiss="modal" (click)="onSaveImage()">確定</button>
										<button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
										
									</div>
								</div>
							</div>
						</div>
						<div class="card-block">
							<h4 class="card-title">{{user.username}}</h4>
							<p class="card-text">您的信息</p>

							<div class="btn-group" role="group">
								<div><button type="submit" (click)="onSubmit()" class="btn btn-md btn-confirm btn-row">確認更改</button></div>
								<div><button type="button" (click)="onCancel()" class="btn btn-md btn-cancel">取消更改</button></div>
							</div>
						</div>
					</div>
					<div *ngIf="message" class="alert alert-danger">
						{{ message }}
					</div>
				</div>
				<div class="col-md-7 col-sm-12">
					<div class="card-columns">
						<div class="card card-entry">
							<div class="card-block">
								<h4 class="card-title">First Name</h4>
								<div class="form-group card-text">
									<input type="text" class="form-control" name="firstName" [(ngModel)]="updatedUser.firstName" placeholder="Enter your first name"/>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">Last Name</h4>
								<div class="form-group card-text">
									<input type="text" class="form-control" name="lastName" [(ngModel)]="updatedUser.lastName" placeholder="Enter your last name"/>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">Email</h4>
								<div class="form-group card-text">
									<input type="email" class="form-control" name="email" [(ngModel)]="updatedUser.email" placeholder="Enter email" required/>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">Telephone</h4>
								<div class="form-group card-text">
									<input type="tel" class="form-control" name="tel" [(ngModel)]="updatedUser.tel" placeholder="Enter telephone"/>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">Address Line 1</h4>
								<div class="form-group card-text">
									<input type="text" class="form-control" name="addr1" [(ngModel)]="updatedUser.addressLine1" placeholder="Enter Address Line 1"/>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">Address Line 2</h4>
								<div class="form-group card-text">
									<input type="text" class="form-control" name="addr2" [(ngModel)]="updatedUser.addressLine2" placeholder="Enter Address Line 2"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="card">
									<div class="card-block">
										<h4 class="card-title">City</h4>
										<div class="form-group card-text">
											<input type="text" class="form-control" name="city" [(ngModel)]="updatedUser.city" placeholder="Enter city"/>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="card">
									<div class="card-block">
										<h4 class="card-title">State</h4>
										<div class="form-group card-text">
											<input type="text" class="form-control" name="state" [(ngModel)]="updatedUser.state" placeholder="Enter State"/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="card">
									<div class="card-block">
										<h4 class="card-title">Zip Code</h4>
										<div class="form-group card-text">
											<input type="text" class="form-control" name="zipCode" [(ngModel)]="updatedUser.zipCode" placeholder="Enter Zip Code"/>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="card">
									<div class="card-block">
										<h4 class="card-title">Country</h4>
										<div class="form-group card-text">
											<input type="text" class="form-control" name="country" [(ngModel)]="updatedUser.country" placeholder="Enter Country"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>