.jumbotron {
  background: url('image/bgb.jpg') no-repeat center center;
  background-size: 100% auto;
  color: #fff;
}

.card-columns {
	column-count: 1;
}

.card-profile > img{
	width: 100%;
	height: auto;
}
.card-entry{
	width: 100%
}
.btn-row  {
	margin-right: 1em;
}

.card-columns-custom{
	column-count: 3 ;
}

.card-image-button{
	display: inherit;
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	padding: 0;
	margin: 0.3em;
	border:none;
	max-height: 8em;
	overflow: hidden;
}

.card-image-button: focus{
	border:1em solid blue;
}

@media (max-width: 991px){
	.card-image-button{
		max-height: 5em;
	}
}


@media (max-width: 767px){
	.card {
		margin-top: 1em;
	}
		.display-3 {
		font-size: 2em;
	}

	.lead {
		font-size: 1em;
	}
}